


.page-container{
    //background-color: lightgray;
   // width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    //padding: 10px;
    position: relative;
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
}

.font-rubik {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
}

.page-space{
    flex-grow: 1;
}

.page-title{
    width:100%;
    height: auto;    
    overflow:auto;
    display: flex;
    justify-content: center;
    
    //align-content: center;
    img{
        max-width: 90%;
        //max-height: 90%;
        float: right;
        max-height: 20vh;

        //object-fit: contain;
    }
}

.page-title-SFR{
    
    &-SFR{
        
        font-size: 3rem;
    }
    &-Cause{
        font-size: 3.9rem;
        
    }

}

.page-goal{

    width:100%;
    height: auto;    
    overflow:auto;    
    background-color: #212061;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        //background-color: black;
    }
    &-txt{
        //background-color: gray;
        text-align: right;
        //padding-right: 1vw;
        padding-bottom: 2rem;
        font-size:2.5rem ;
    }
    &-amt{
        //background-color: blue;
        text-align: center;
        font-size: 11rem;
    }
    
    img{
        //background-color: red;
        //max-width: 90%;
        //max-height: 90%;
        float: center;
        max-height: 19vh;
    }
}

.page-progress{
    display: flex;
    justify-content: center;  
    padding-bottom: 2vh;
    background-color: #212061;
    &-container{
        
    }
    &-txt{
        text-align: center;
        color: white;
        font-size: 4rem;
    }
    &-subtxt{
        font-size: 2rem;
    }
}

.page-how-to{
    display: flex;
    justify-content: center;
    background-color: #b51515;
    &-left-space{
        flex-grow: 1;
    }
    &-txt{
        background-color: #B2B3B7;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 3.5rem;

        border-radius:0px 0px 0px 15px;
    }
    &-right-space{
        flex-grow: 1;
        background-color: #B2B3B7;
    }
}

.page-how-to-options{    
    display: flex;
    justify-content: center;    
    &-left-space{
        flex-grow: 1;
        background-color: #b51515;
    }
    &-txt{
        padding-top: 2vh;
        padding-bottom: 2vh;
        background-color: #b51515;
        color: white;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 2.2rem;

        border-radius:0px 0px 15px 0px;
    }
    &-right-space{
        flex-grow: 1;
        
    }
}

.page-loc{

    &-txt{
        text-align: center;
        padding-top: 2vh;
        padding-bottom: 1vh;
        font-size: 2rem;
    }
    &-line{
        display: flex;
        justify-content: center;  
    }
    &-container{
        display: flex;
        justify-content: center;  
        flex-wrap: wrap;
        align-items: center;
    }
    &-site{
        padding: 1vh;    
    }
}


.page-faq{

    &-txt{
        text-align: center;
        padding-top: 2vh;
        padding-bottom: 1vh;
    }
    &-app{
        display: flex;
        justify-content: center;    
    }
}

.page-schedule{
    
    
    
}

.page-footer{
    background-color:#0099e4;
    height: 3vh;
}