<div class="page-container">
  <div class="page-title">
    <!-- <div class="page-title-helping"><img src="/images/HH-White.jpg"/></div> -->
    <div class="page-title-SFR"><img src="/images/Salisbury-Fire-Logo.png"/></div>
    <div class="page-title-txt">
      <div class="page-title-SFR-SFR">Salisbury Fire Rescue</div>
      <div class="page-title-SFR-Cause font-rubik">Turkey Drive</div>
    </div>
        
  </div>

  <div Class="page-goal font-rubik">
    <div class="page-goal-txt">Goal</div>
    <div class="page-goal-amt">150</div>
    <div class="page-goal-char"><img src="/images/Turkey-PigV2.png"/></div>
  </div>
  
  <!-- <div Class="page-progress">
    <app-progress></app-progress>
  </div> -->

  <div class="page-how-to">
    <div class="page-how-to-left-space"></div>
    <div class="page-how-to-txt font-rubik">Two Ways to help</div>
    <div class="page-how-to-right-space"></div>
  </div>
  <div class="page-how-to-options">
    <div class="page-how-to-options-left-space"></div>
    <div class="page-how-to-options-txt">
      1 - DROP OFF A TURKEY / HAM<br>
      2 - DONATE (ONLINE / IN PERSON)
    </div>
    <div class="page-how-to-options-right-space"></div>
  </div>
<!--   
  <div class="page-schedule">
    <app-schedule></app-schedule>
  </div> -->

  <div class="page-loc">
    <div class="page-loc-txt font-rubik">Drop Off Locations</div>
    <div class="page-loc-app">
      <div class="page-space"></div>
      <div><app-locations></app-locations></div>
      <div class="page-space"></div>
    </div>
  </div>
  
  <div class="page-faq">
    <div class="page-faq-txt font-rubik">FAQ</div>
    <div class="page-faq-app">
      <div class="page-space"></div>
      <div><app-faq></app-faq></div>
      <div class="page-space"></div>
    </div>
  </div>

</div>

<router-outlet />
