mat-progress-bar {
    //height: 80px; /* Adjust thickness (height) of the progress bar */
    //background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient from pink to orange */
    border-radius: 1rem;
    width: 37rem;
    border: 5px solid black;
  }

  mat-progress-spinner {
    //height: 80px; /* Adjust thickness (height) of the progress bar */
    //background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient from pink to orange */
    //border-radius: 1rem;
    width: 37rem;
    color: #b51515;
    //border: 5px solid black;
  }


//   mat-progress-bar .mat-progress-bar-fill {
//     background: linear-gradient(to right, #ff7e5f, #feb47b); /* Same gradient for the fill part */
//   }

  

// Customize the entire app. Change :root to your selector if you want to scope the styles.



