.card {
  max-width: 500px;
  height: auto;
  margin-bottom: 8px;
}

.door{
  //font-size: .9rem;
  color:#454545
}

.address{
  font-size: .8rem;
  color:#454545
}

.content{
  font-weight: 200;
  padding-top: 1vh;
}

.font-rubik {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}