<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="font-rubik">{{name}}</mat-card-title>
      <mat-card-subtitle class="door">{{door}}</mat-card-subtitle>
      <mat-card-subtitle class="address">{{address}}</mat-card-subtitle>
      <img mat-card-sm-image src="{{getImage()}}" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="content">
    <b>Hours:</b><br>
    @for (hour of hours;track hour) {
      {{hour}}<br>
    }
  </mat-card-content>
</mat-card>