@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
// @media (max-width: 1400px) {
    
//   }

// :root {
//   /* the only thing needed is a grainy/noisy background image */
//   //--glitter: url("https://assets.codepen.io/13471/silver-glitter-background.png");
//   //--glitter: url("/images/Salisbury-Fire-Logo.png");
// }

  html {
    font-size: 20px;
    //background-color: white;
    height: 100%;
  }
  
  // Tablet screen 
  
  @media (max-width: 768px) {
    html {
      font-size: 12px;
      //background-color: gray;
      height: 100%;
    }
  }
  
  // Mobile screen 
  
  @media (max-width: 450px) {
    html {
      font-size: 8px;
      //background-color: rgb(97, 97, 201);
      height: 100%;
    }
  }

  :root {
    @include mat.progress-bar-overrides((
      active-indicator-color: #b51515,
      track-color: #B2B3B7,
      track-height: 2.5rem,
      active-indicator-height:2.5rem,
    ));  
      
  }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%; }

.check-mark{
  color: #4ace01;
  font-size: 1.5rem;
}
